@media screen and (max-width: 1100px) {
  /*
    ==========================
    footer
    ==========================
  */

  /* upper area */
  /* ---------- */
  #page-foot .upper
  {
    padding-bottom: 10px;
  }

  #page-foot .upper .inner > div,
  #page-foot #footer-news-links
  {
    float: none;
    width: auto;
    margin-left: 0;
    padding-bottom: 20px;
  }

  #page-foot .upper h3
  {
    font-size: 18px;
    margin-bottom: 15px;
  }

  #footer-news-links ul
  {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    -ms-column-count: 2;
    column-count: 2;
  }

  /* lower area */
  /* ---------- */
  #page-foot .lower .inner,
  #page-foot .lower nav
  {
    display: block;
  }

  #page-foot .lower nav ul li + li:before
  {
    content: none;
  }

  #page-foot .lower nav ul li:after
  {
    content: ' – ';
  }

  #page-foot .lower nav ul li:last-child:after
  {
    content: none;
  }

  #page-foot #nz-govt-footer-link {
    margin-top: 20px;
    margin-left: 0;
  }

  #page-foot .lower .ministry-links
  {
    display: block;
    padding-top: 20px;
    text-align: left;
  }

  #moe-copyright {
    display: flex;
    flex-direction: column;
  }
}
