@media screen and (max-width: 590px) {
  /*
      ==========================
      footer
      ==========================
    */

    /* upper area */
    /* ---------- */
    #footer-news-links ul
    {
      -webkit-column-count: 1;
      -moz-column-count: 1;
      -ms-column-count: 1;
      column-count: 1 ;
    }

    /* lower area */
    /* ---------- */
    #page-foot .lower
    {
      padding-top: 30px;
    }

    #page-foot .lower nav ul.alt
    {
      margin: 0;
    }

    #page-foot .lower nav ul li {
      display: block;
      margin-bottom: 8px;

      &:after {
        display: none;
      }
    }

    #page-foot #nz-govt-footer-link {
      margin-top: 20px;
      margin-left: 0;
    }
    #page-foot .ministry-links > *,
    #page-foot .lower .ministry-links > * + *
    {
      margin-top: 20px;
      margin-left: 0;
    }

    #moe-footer-link,
    #moe-footer-link a
    {
      width: 134px;
      height: 44px;
    }

    #nz-govt-footer-link,
    #nz-govt-footer-link a
    {
      width: 137px;
      height: 18px;
    }

    #page-foot .lower .inner nav{
      display: flex;
      flex-direction: column;

      .contacts {
        flex-direction: column;
        order: 1;

        .social-links {
          order: 1;
        }
      }
    }

    .copyright-line {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
}
